.c-banner {
    position: relative;
    width: 100%;
    height: auto;
}

.c-banner__image {
    width: 100%;
    height: auto;
    display: block;
}

.c-banner__content {
    @include position(absolute, 15% 0 0 0);
}

.c-banner__title {
    color: $color-white;
    font-size: $font-size-l;

    @include mq($from: s) {
        font-size: $font-size-xxl;
    }
}

.c-banner__sub-title {
    color: $color-grey-darker;
    font-size: $font-size-m;

    @include mq($from: s) {
        font-size: $font-size-l;
    }
}
