{
    "extends": "stylelint-config-standard",
    "rules": {
        "string-quotes": "single",
        "selector-pseudo-class-no-unknown": [
            true,
            {
            "ignorePseudoClasses": [
                    "global",
                    "local"
                ]
            }
        ],
        "no-empty-source": null,
        "indentation": 4,
        "length-zero-no-unit": null
    }
}
