$font-size-xs: 10px;
$font-size-xs: 12px;
$font-size-base: 14px;
$font-size-m: 18px;
$font-size-l: 22px;
$font-size-xl: 26px;
$font-size-xxl: 40px;

$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
