html {
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    min-height: 100%;
}

body {
    padding-top: 50px;
    background-color: #fafafa;

    @include mq($from: s) {
        padding-top: 64px;
    }
}

html,
body,
#app,
.app-container {
    height: 100%;
}
